body{
    display: flex;
    flex-direction: column;
    align-items: centers;
    text-align: center;
    justify-content: center;
}
input,button{
    width: 300px;
    margin: auto;
    margin-top: 10px;
}